@import "tailwindcss";

@theme {
  --color-brand-50: #E4F6EB;
  --color-brand-100: #CBEED9;
  --color-brand-200: #99DEB6;
  --color-brand-300: #66CD94;
  --color-brand-400: #34BD71;
  --color-brand-500: #159C47;
  --color-brand-600: #117E39;
  --color-brand-700: #0C5F2B;
  --color-brand-800: #083F1D;
  --color-brand-900: #04200E;
  --color-brand: #159C47;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}